<!doctype html>
<head>
	<title>Jessica's Final Project (API Edition)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"/>
    <link href="/static/common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="main">
        <div class="spotify-logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/252px-Spotify_logo_without_text.svg.png?20160123212544" alt="spotify"/>
        </div>
        <h1 class="title">Server Error</h1>
        <div class="warning">
            <h3 class="subtitle">Error Message:</h3>
            <div>{{ error_message }}</div>
        </div>
        <a class="button" href="/">Go Home</a>
    </div>
</body>